<div class="container-section">
  <ng-container *ngIf="!isLoading; else cargando">
  <header class="header-module">
    <h1>Productos</h1>
  </header>
  <div class="actions-container">
    <div class="search-container">
      <input type="text" placeholder="Buscar producto..." [(ngModel)]="nombreBusqueda" (keyup)="buscarProductos()"> <!--   -->
    </div>
    <div class="btn-black" data-toggle="tooltip" data-placement="top" title="Nuevo producto">
      <button (click)="modalNuevoProducto()">
        <img src="assets/icons/new.svg" alt="">
        <span>Nuevo producto</span>
      </button>
    </div>
  </div>
  <!-- Sección tabla de contenido -->
  <section class="component-main-content">
    <ng-container *ngIf="!isLoadingPartial; else cargandoPartial">

    <div class="cargando" *ngIf="productos.length == 0; else listaProductos ">
      <h2>No se han encontrado elementos para productos.</h2>
      <img src="assets/img/running-cat.gif" alt="">
    </div>
    </ng-container>
  </section>
  </ng-container>
</div>

<ng-template #cargando>
  <app-skeleton-full></app-skeleton-full>
</ng-template>

<ng-template #cargandoPartial>
  <app-skeleton-partial></app-skeleton-partial>
</ng-template>

<ng-template #listaProductos>

  <!--  LISTADO PRODUCTOS AGRUPADOS POR CATEGORIAS -->
  <div id="contenedor-lista-productos">
    <div class="categoria-container" *ngFor="let categoriaNombre of keys(productosAgrupados)" style="color: #fff;">
      <div class="contenedor-cabecera-categoria">
        <h2 class="nombre-categoria">{{categoriaNombre}}</h2>
        <span class="cantidad-productos-categoria">Productos: {{productosAgrupados[categoriaNombre].length}}</span>
      </div>
      <div class="listado-productos">
        <div *ngFor="let producto of productosAgrupados[categoriaNombre]; let first = first" class="contenedor-producto" [ngClass]="{'borde-superior' : !first}" (mouseenter)="mostrarBotones = true" (mouseleave)="mostrarBotones = false">
          <div class="informacion-producto">
            <h3 class="nombre-producto">{{producto.nombre}}</h3>
            <span class="precio-producto">$ {{producto.precio.toLocaleString()}}</span>
            <p class="descripcion-producto">
              {{ producto.descripcion.length > 100 ? (mostrarTextoCompleto ? producto.descripcion : producto.descripcion.slice(0, 100) + '...') : producto.descripcion }}
              <span *ngIf="producto.descripcion.length > 100">
                <button type="button" class="btn btn-link" (click)="mostrarTextoCompleto = !mostrarTextoCompleto">
                  {{ mostrarTextoCompleto ? 'Ver menos' : 'Ver más' }}
                </button>
              </span>
            </p>
            <!-- Botones que aparecerán en hover -->
            <div class="botones" *ngIf="mostrarBotones">
              <button class="editar" (click)="modalEditarProducto(producto)">
                <img src="assets/icons/edit.svg" alt="">
              </button>
              <button class="eliminar" (click)="deleteProducto(producto.id)">
                <img src="assets/icons/trashcan.svg" alt="">
              </button>
            </div>
          </div>
          <div class="imagen-producto">
            <img [src]="producto.imagenUrl" alt="logo hamburguesa" (error)="onImageError(producto)">
          </div>
        </div>
      </div>
    </div>

  </div>

</ng-template>

