#contenedor-funciones{
  display: flex;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.85);
  border: 2px solid #3C3B3B;
  padding: 1em;
  border-radius: 1em;
  justify-content: space-between;
}
#buscar{
  width: 60%;
  display: flex;
  align-items: center;
}
.producto-buscado{
  margin: 0 2em;
  background-color: rgba(86, 86, 86, 0.66);
  border-radius: 3em;
  padding: .3em .5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.texto-producto-buscado{
  font-family: WorkSans-bold, serif;
  color: white;
}
.limpiar-producto-buscado{
  margin-top: .2em;
  cursor: pointer;

}
.boton-funciones{
  width: 40%;
}
.boton-funciones button{
  padding: 1em;
  background-color: #9ded12;
  border: 0;
  border-radius: 5px;
  font-family: WorkSans-Medium, serif;
  color: #000;
  cursor: pointer;
}
.boton-funciones button:hover{
  background-color: #7fc010;
}
#buscar input{
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 1rem;
}
#buscar button {
  padding: 8px 10px;
  background-color: #9ded12;
  margin-left: .4em;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
#buscar button:hover{
  background-color: #7fc010;
}
.contenedor-cards{
  display: flex;
  width: 100%;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-productos{
  width: 25%;
  box-sizing: border-box;
  background-color: red;
  margin: 10px;
  overflow: hidden;
  min-height: 40vh;
  max-height: 40vh;
}
.imagen-productos{
  position: relative;
  min-height: 80%;
  max-height: 80%;
}
.imagen-productos img{
  width: 100%;
  max-width: 100%;
  min-height: 30vh;
  max-height: 30vh;
  object-fit: cover;
  border: 1px solid red;
}
.datos-producto{
  color: white;
  font-family: WorkSans-bold, serif;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-90%, -90%);
  margin-left: .5em;
}
.datos-producto span{
  width: 35%;
  font-weight: bold;
  /* borde letra*/
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; /* Desplazamiento y color del borde */

}
.informacion-producto{
  font-family: WorkSans-Medium, serif;
  padding: 1em;
  color: white;
  width: 100%;
  min-height: 6em;
  max-height: 6em;
  overflow-y: scroll;
}
.informacion-producto p{
  min-height: 6vh;
  margin: .8em;
}
.btn-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-editar, .btn-eliminar{
  width: 40%;
}
.btn-editar button, .btn-eliminar button{
  border: 0;
  padding: .8em;
  font-family: WorkSans-Medium, serif;
  border-radius: 10px;
  cursor: pointer;
}


/* NUEVOS ESTILOS*/
.btn-black{
  width: 25%;
  display: flex;
  flex-direction: row;
  margin: 0 10em 0 0;
}
.btn-black button{
  margin: 0 1em;
}


/* ESTILOS LISTADO PRODUCTOS */
/* app.component.css */

#contenedor-lista-productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em 0 2em 2em;
}

.categoria-container {
  width: 80%;
  justify-content: flex-start;
}

.contenedor-cabecera-categoria {
  width: 100%;
  margin-bottom: 1.5em;
  border-bottom: 1.5px solid #fff;
  padding-bottom: .6em;
}

.nombre-categoria {
  font-family: WorkSans-Medium, serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.cantidad-productos-categoria {
  font-family: WorkSans-Light, serif;
  margin-left: .2em;
}

.listado-productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 22, 22, 0.77);
  border-radius: 8px;
  padding: .6em;
  margin-bottom: .8em;
}

.contenedor-producto {
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
  position: relative;
}

.contenedor-producto:hover {
  cursor: pointer;
}

.informacion-producto {
  width: 70%;
  min-height: 100%;
  overflow: hidden;
}

.imagen-producto {
  width: 30%;
  text-align: center;
}

.imagen-producto img {
  width: 80%;
  height: 8em;
  object-fit: fill;
  border-radius: 1em;
}

.borde-superior {
  border-top: 1px solid black;
  padding-top: .5em;
}

.nombre-producto,
.precio-producto,
.descripcion-producto {
  margin: 0;
  padding: 0;
}

.descripcion-producto {
  margin: .4em 0 0 0 !important;
  font-family: WorkSans-Light, serif;
}

.nombre-producto {
  font-family: WorkSans-Medium, serif;
  font-size: 1.4em;
}

.botones {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  overflow: hidden;
}

.botones button {
  margin-bottom: .8em;
  cursor: pointer;
  border-radius: 50%;

  transition: all 0.3s ease-in-out; /* Agregamos una transición para el efecto de crecimiento */
  transform-origin: center center; /* Definimos el punto de origen de la transformación */
}

.editar, .eliminar{
  background-color: rgba(0, 0, 0, 0.67);
  padding: .5em;
  text-align: center;
  border: 1px solid #049e04;
}


.botones button:hover {
  transform: scale(1.2); /* Efecto de crecimiento */
}

.contenedor-producto:hover .botones {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  padding: 5px;
  z-index: 1; /* Asegura que los botones estén sobre el contenido */
}

.ver-mas {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
