<nav class="navbar  navbar-light navbar-oscuro">
  <div class="container-fluid">

    <!-- Menú hamburguesa izquierdo -->
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarLeftContent"
      [attr.aria-expanded]="!leftCollapsed"
      aria-label="Toggle navigation"
      (click)="leftCollapsed = !leftCollapsed"
    >
      <span ><img src="assets/icons/menu.svg" alt=""></span>
    </button>

    <!-- Contenido en el centro (puedes reemplazar el texto con una imagen) -->
    <div id="logo">
      <img src="assets/logoburgueseria.png" alt="Logo la burgueseria">
    </div>


    <!-- Menú hamburguesa derecho -->
    <button
      class="navbar-toggler navbar-light"
      type="button"
      aria-controls="navbarRightContent"
      [attr.aria-expanded]="!rightCollapsed"
      aria-label="Toggle navigation"
      (click)="rightCollapsed = !rightCollapsed"
    >
      <span > <img src="assets/icons/menu.svg" alt=""></span>
    </button>


    <!-- Contenido del menú izquierdo -->
    <div class="navbar-collapse" [ngClass]="{ 'collapse': leftCollapsed }" id="navbarLeftContent"> <!-- Eliminados z-index y position -->
      <ul class="navbar-nav">
        <!-- Nuevas opciones divididas en 3 columnas -->
        <div class="row">
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['dashboard']" style="color: white;">Dashboard</a>
            </li>
          </div>
          <ng-container *ngIf="rolEmpleado === 'MESERO'">
            <div class="col-4">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['cuentas/empleado']" style="color: white;">Pedidos</a>
              </li>
            </div>
          </ng-container>
          <ng-container *ngIf="rolEmpleado !== 'MESERO'">
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['cuentas']" style="color: white;">Pedidos</a>
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['productos']">Productos</a>
            </li>
          </div>
          </ng-container>
        </div>
        <ng-container *ngIf="rolEmpleado !== 'MESERO'">
        <div class="row">
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['insumos']" style="color: white;">Insumos</a>
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link"style="color: white;" [routerLink]="['mesas']">Mesas</a>
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['empleados']" style="color: white;">Empleados</a>
            </li>
          </div>
        </div>

        <!-- Continuación de opciones en la siguiente fila -->
        <div class="row">
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['ingresos']" style="color: white;">Ventas</a>
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['egresos']" style="color: white;">Gastos</a>
            </li>
          </div>
        </div>
        </ng-container>
      </ul>
    </div>



    <!-- Contenido del menú derecho -->
    <div class="navbar-collapse" [ngClass]="{ 'collapse': rightCollapsed }" id="navbarRightContent">
      <ul class="navbar-nav ms-auto">
        <!--  opciones -->
        <div class="row">
          <div class="col-4">
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Cerrar sesión</a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
