<div class="container-section">
  <header class="header-module dashboard-header">
    <div class="header-element">
      <h1>Dashboard</h1>
    </div>
    <div class="header-element">
      <!-- Fecha del dia actual y la hora es dinamica -->

      <h2><span>{{tiempoActual}}</span></h2>
    </div>
    <div class="header-element acciones-header">
      <ng-container *ngIf="isDiaIniciado && gestionCaja.length > 0">
        <h3>Saldo base del día de hoy: <span>${{gestionCaja[0].saldoInicioCajaMenor.toLocaleString()}}</span></h3>
      </ng-container>
      <div class="btn-black">
        <ng-container *ngIf="!isDiaIniciado">
          <button (click)="modalIniciarDia()">
          <span >
            Iniciar día
          </span>
          </button>
        </ng-container>
        <ng-container *ngIf="isDiaIniciado">
          <button (click)="iniciarOTerminarDia()">
          <span >
            Finalizar día
          </span>
          </button>
        </ng-container>
      </div>
    </div>

  </header>
</div>
