<div class="container-section">
  <header class="header-module dashboard-header actions-container">
    <div class="header-element">
      <h1>Dashboard</h1>
    </div>
    <div class="header-element">
      <!-- Fecha del dia actual y la hora es dinamica -->

      <h2><span>{{tiempoActual}}</span></h2>
    </div>
    <div class="header-element acciones-header ">
      <ng-container *ngIf="isDiaIniciado && gestionCaja.length > 0">
        <h3>Saldo base del día de hoy: <span>${{gestionCaja[0].saldoInicioCajaMenor.toLocaleString()}}</span></h3>
      </ng-container>
      <div class="btn-black">
        <ng-container *ngIf="!isDiaIniciado">
          <button (click)="modalIniciarDia()">
          <span >
            Iniciar día
          </span>
          </button>
        </ng-container>
        <ng-container *ngIf="isDiaIniciado">
          <button (click)="finalizarDia()">
          <span >
            Finalizar día
          </span>
          </button>
        </ng-container>
      </div>
    </div>
  </header>
  <section class="component-main-content">
    <div id="titulo-seccion">
      <h2>Así va mi negocio.</h2>

    </div>
    <ng-container *ngIf="resumenEgreso.length > 0 || resumenCaja.length > 0; else cargando">
    <ng-container *ngIf="resumenEgreso.length > 0">
      <h3>Egresos</h3>
      <app-zoomeable-chart [seriesName] = "'Egresos'" [resumenData] = "resumenEgreso"></app-zoomeable-chart>
    </ng-container>
    <ng-container *ngIf="resumenCaja.length > 0">
      <h3>Cuadres de caja</h3>
      <app-contrast-chart [resumenCaja] = "resumenCaja"></app-contrast-chart>
    </ng-container>
    </ng-container>



  </section>
</div>


<ng-template #cargando>
  <div class="cargando">
    <h2>Aún no hay datos suficientes para que puedas ver tus resumenes diarios.</h2>
    <img src="assets/img/yellow-cat.png" alt="">
  </div>
</ng-template>
