.contenido-seccion{
  width: 85%;

}
#cabecera-seccion{
  width: 100%;
}
#titulo-seccion{
  color: #fff;
  font-family: WorkSans-bold;
  font-size: 2.5em;
}

.ayuda{
  background-color: rgba(0, 209, 255, 0.62);
  padding: 1em;
  border-radius: 20px;
  margin: 1em;
}
.ayuda p{
  font-family: WorkSans-Light, serif;
  font-size: 1em;
}
.contenedor-modulo{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*    ESTILOS COMPARTIDOS V2 */
.btn-eliminar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
}
.btn-eliminar-element:hover{
  border: 1px solid red;
  color: red;
  cursor: pointer;
}
.btn-actualizar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
  margin: 0 1em;
  cursor: pointer;
}
.btn-actualizar-element:hover{
  border: 1px solid #EBB80D;
}
