.contenido-seccion{
  width: 85%;

}
#cabecera-seccion{
  width: 100%;
}
#titulo-seccion{
  color: #fff;
  font-family: WorkSans-bold;
  font-size: 2.5em;
}

.ayuda{
  background-color: rgba(0, 209, 255, 0.62);
  padding: 1em;
  border-radius: 20px;
  margin: 1em;
}
.ayuda p{
  font-family: WorkSans-Light, serif;
  font-size: 1em;
}
.contenedor-modulo{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*    ESTILOS COMPARTIDOS V2 */
.component-main-component {
  margin-top: 1.5em;
}
.btn-eliminar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
}
.btn-eliminar-element:hover{
  border: 1px solid red;
  color: red;
  cursor: pointer;
}
.btn-actualizar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
  margin: 0 1em;
  cursor: pointer;
}
.btn-actualizar-element:hover{
  border: 1px solid #EBB80D;
}

.container-section{
  width: 100%;
  min-height: 60vh;
  margin: 1em 2em 2em 2em;
}
.header-module{
  width: 100%;
  color: #fff;
  font-family: WorkSans-Medium, serif;
}
.header-module h1{
  font-size: 2em;
}
/* ZONA DE ACCIONES */
.actions-container{
  width: 100%;
  border-bottom: 1px solid #3C3B3B;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .3em 0;
  justify-content: space-between;
  align-content: center;
}
.search-container{
  width: 20%;
}
.search-container input{
  width: 100%;
  padding: .8em;
  border: 0;
}
.btn-black{
  width: 10%;
}
.btn-black button{
  border: 1px solid #3C3B3B;
  background-color: black;
  padding: .25em .6em;
  color: white;
  font-family: WorkSans-Medium, serif;
  font-size: 1em;
  cursor: pointer;
}
.btn-black button:hover{
  border: 1px solid green;
}
.component-main-content{
  width: 100%;
  display: flex;
  margin-top: .5em;
  justify-content: center;
  flex-direction: column;
}

.cargando{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}
.cargando img{
  width: 20%;
  margin: auto;
}
.cargando h2{
  color: #fff;
  font-family: WorkSans, serif;
  width: 100%;
  text-align: center;
}


/*PAGINACION*/
.paginacion{
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  padding: .3em;
  margin: .2em;
  align-content: center;
}
.paginacion h3{
  margin: 0 .5em;
  cursor: default;
}
.paginacion img {
  cursor: pointer;
}

/* ESTILOS TABLA*/
.tabla-listado, .row-header-element, .row-contenido-element{
  border: 1px solid #3C3B3B;
  border-collapse: collapse;
  padding: .7em;
  text-align: center;
}

.calendario-container{
  width: 60%;
}
.filtroYBoton{
  width: 40%;
  display: flex;
  flex-direction: row;
}
.filtroYBoton .btn-black{
  margin-left: 8em;
}

/*
  RESPONSIVE

*/


@media screen and (max-width: 1200px){
  .calendario-container{
    width: 100%;
  }
  .filtroYBoton{
    width: 100%;
    margin-top: 1.5em;
  }
}

/*
pantallas superiores a 960px
*/
@media screen and (min-width: 960px) {
  /* Estilos*/
}

/* Pantallas menores a 959px */
@media screen and (max-width: 959px){
  main{
    flex-direction: column;
  }
  .container-admin{
    padding: 0;
  }
  app-nuevo-insumo, app-insumos, app-categoria-producto, app-productos, app-mesas {
    width: 100% !important;
  }
  .imagen-producto{
    width: 50%;
  }
  .search-container{
    width: 40%;
  }
  .categoria-container{
    width: 80%;
  }
  .btn-black{
    margin-right: 4.5em;
  }
  .component-main-content{
    max-width: -webkit-fill-available;
    overflow-x: scroll;
  }
  .ver-cuenta{
    margin-bottom: .5em;
  }
}

@media screen and (max-width: 650px) {
  .btn-actualizar-element{
    margin-bottom: .5em;
  }
  .responsive{
    margin-top: .5em;
    width: 30%;
  }
  .responsive button {
    padding: .7em;
  }
}

/*media querie para los productos*/
@media screen and (max-width: 400px) {
  .categoria-container{
    width: 96%;
  }
}
