<h2 mat-dialog-title>Gastos</h2>
<mat-dialog-content >
  <form [formGroup] = "form">

    <mat-form-field>
      <mat-label>Total del gasto</mat-label>
      <input matInput placeholder="Total" formControlName="egreso">
      <mat-error *ngIf="form.get('egreso')?.hasError('required')">El gasto es obligatorio</mat-error>
      <mat-error *ngIf="form.get('egreso')?.hasError('pattern')">Cantidad del gasto no válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de gasto</mat-label>
      <mat-select formControlName="tipoEgreso">
        <mat-option *ngFor="let tipo of tiposEstados" [value]="tipo">
          {{tipo}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('egreso')?.hasError('required')">La categoría del gasto es obligatoria</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Origen del gasto
      </mat-label>
      <mat-select formControlName="deduccionDesde">
        <mat-option *ngFor="let origen of origenDeduccion" [value]="origen">
          {{origen}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('deduccionDesde')?.hasError('required')">Debes seleccionar el origen del gasto</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción del gasto</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">Ingresa la descripción del gasto</mat-error>
    </mat-form-field>

    <div class="img-selector" *ngIf="!data">
      <label class="file-upload-button" for="file-upload">Soporte del gasto</label>
      <input type="file" accept="image/*" (change)="onFileChange($event)" id="file-upload">
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
      <div class="error-message" *ngIf="fileError">{{ fileError }}</div>
    </div>
    <div style="width: 100%; text-align: center" *ngIf="selectedImage">
      <h4>Soporte del gasto</h4>
    </div>

    <div *ngIf="selectedImage" class="selected-image" data-toggle="tooltip" data-placement="top" title="Ver soporte">
        <img [src]="selectedImage" alt="Imagen seleccionada" (error)="onImageError()" (click)="descargarImagen()">


    </div>

    <ng-container *ngIf="data">
      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput placeholder="Total" formControlName="fecha">
      </mat-form-field>

    </ng-container>


  </form>

</mat-dialog-content>
<ng-container *ngIf="!deshabilitarBotones; else botonCerrar">
  <mat-dialog-actions >
    <button mat-button (click)="onSubmit()" class="btn-actualizar-element">Guardar</button>
    <button mat-button (click)="onNoClick()" class="btn-eliminar-element">Cancelar</button>
  </mat-dialog-actions>
</ng-container>

<ng-template #botonCerrar>
  <button mat-button (click)="onNoClick()" class="btn-actualizar-element boton-solito" style="">Cerrar</button>
</ng-template>
