<div class="container-section">
  <header class="header-module">
    <h1>Cuentas</h1>
  </header>
  <div class="actions-container">

    <div class="calendario-container">
      <bootstrap-range-calendar (fechasEnviadas) = "recibirDatosCalendario($event)" ></bootstrap-range-calendar>
    </div>

    <!-- opcion para filtrar por estado de cuenta -->
    <div class="filtroYBoton">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <mat-select [(value)] = "filtrarEstado">
          <mat-option value="">Todas las cuentas</mat-option>
          <mat-option value="Por despachar">Cuentas por despachar</mat-option>
          <mat-option value="Despachada">Cuentas despachadas</mat-option>
          <mat-option value="Pagada">Cuentas pagadas</mat-option>
          <mat-option value="Cancelada">Cuentas canceladas</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="btn-black" data-toggle="tooltip" data-placement="top" title="Nueva cuenta">
        <button (click)="modalCrearCuenta()"> <!-- (click) ="crearMesaModal()" -->
          <img src="assets/icons/new.svg" alt="">
          <span>Nueva cuenta</span>
        </button>
      </div>
    </div>

  </div>

  <section class="component-main-component">
    <ng-container *ngIf="!isLoading ; else skeletonLoadingPartial">
    <ng-container *ngIf="cuentasFecha.length > 0; else buscando; let isContenido">
      <table class="tabla-listado" >
        <thead class="cabecera-tabla">
        <tr class="row-header">
          <th class="row-header-element">
            MESA
          </th>
          <th class="row-header-element">
            EMPLEADO
          </th>
          <th class="row-header-element">
            SUBTOTAL
          </th>
          <th class="row-header-element">
            ABONO
          </th>
          <th class="row-header-element">
            TOTAL
          </th>
          <th class="row-header-element">
            ESTADO
          </th>
          <th class="row-header-element">
            FECHA
          </th>
          <th class="row-header-element">
            ACCIONES
          </th>
        </tr>
        </thead>
        <ng-container *ngIf="filtrarEstado == ''; then cuentasSinFiltro; else cuentasConFiltro;">
          <!--  Se muestra un contenido dependiendo del filtro seleccionado -->
        </ng-container>

      </table>
    </ng-container>
    </ng-container>
  </section>
</div>

<ng-template #buscando >
  <div class="cargando">
    <h2>No se han encontrado ninguna cuenta en las fechas dadas.</h2>
    <img src="assets/img/running-cat.gif" alt="">

  </div>
</ng-template>
<ng-template #buscandoInTable >
  <td colspan="8">
    <div class="cargando">
      <h2>No se ha encontrado ninguna cuenta bajo la categoría indicada.</h2>
      <img src="assets/img/running-cat.gif" alt="">

    </div>
  </td>
</ng-template>

<!-- Mostrar todas las cuentas nomalmente -->
<ng-template #cuentasSinFiltro>
  <tbody>
  <tr *ngFor="let cuenta of cuentasFecha; let i = index; let last = last">
    <td colspan="7">
      <!-- Aquí incluyes el componente draggable dentro de una celda -->
      <app-draggable-cuenta
        [cuenta]="cuenta" [nombreEmpleado]="getNombreApellidoEmpleado(cuenta.id)"
        matTooltip="Desliza para cambiar al estado siguiente.">

      </app-draggable-cuenta>
    </td>
    <td class="row-contenido-element">
      <button class="ver-cuenta" (click)="verCuenta(cuenta)">
        Gestionar
      </button>
    </td>
  </tr>
  </tbody>
</ng-template>

<!-- Mostrar las cuentas filtradas -->
<ng-template #cuentasConFiltro>
  <ng-container *ngIf="cuentasPorEstado(cuentasFecha, filtrarEstado) > 0 ; else buscandoInTable">
    <tbody>
    <tr *ngFor="let cuenta of cuentasFecha; let i = index; let last = last">

      <ng-container *ngIf="cuenta.estadoCuenta.nombre == filtrarEstado;">
        <td colspan="7">
          <!-- Aquí incluyes el componente draggable dentro de una celda -->
          <app-draggable-cuenta
            [cuenta]="cuenta" [nombreEmpleado]="getNombreApellidoEmpleado(cuenta.id)"
            matTooltip="Desliza para cambiar al estado siguiente.">

          </app-draggable-cuenta>
        </td>


        <td class="row-contenido-element">
          <button class="ver-cuenta" (click)="verCuenta(cuenta)">
            Gestionar
          </button>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </ng-container>

</ng-template>


<ng-template #skeletonLoadingPartial>
  <app-skeleton-partial></app-skeleton-partial>
</ng-template>

