<footer id="footer">
  <div class="footer">
    <div id="logo">
      <img src="assets/logoburgueseria.png" alt="">
      <span>Laburguesería 2024 © Todos los derechos reservados</span>
    </div>
    <div class="redes">
      <ul class="informacion">
        <li id="contacto">Contáctanos: </li>
        <li id="hipervinculo-group">
          <span matTooltip="Whatsapp" class="hipervinculo">
            <a href="https://wa.me/+573147598531" target="_blank">
            <img src="assets/icons/whatsapp.svg" alt="">
            </a>
            </span>
          <span matTooltip="Instagram" class="hipervinculo">
            <a href="https://www.instagram.com/la_burgueseria_?igsh=bGZ2MWcycm1oeGx4" target="_blank">
               <img src="assets/icons/instagram.svg">
            </a>
          </span>
        </li>
        <li id="nosotros">
          <h3>Nosotros:</h3>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Aliquid aspernatur, assumenda
            atque culpa dicta ea fugiat id in laborum, minus
            molestiae neque possimus praesentium qui,
            quidem repellat repudiandae tempore temporibus!</p>
        </li>
      </ul>
    </div>
    <div class="horarios">
      <h3>Horarios:</h3>
      <ul>
        <li>Lunes: 16:00 - 22:30</li>
        <li>Martes: Cerrado</li>
        <li>Miercoles: 16:00 - 22:30</li>
        <li>Jueves: 16:00 - 22:30</li>
        <li>Viernes: 17:00 - 23:00</li>
        <li>Sábado: 17:00 - 23:00</li>
        <li>Domingo: 17:00 - 23:00</li>
      </ul>
    </div>
  </div>
</footer>
