h2{
  width: 100%;
  text-align: center;
  color: #fff8f8;
}
/* nombre-del-componente.component.css */
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.48); /* Fondo semi-transparente */
}

form {
  width: 100%;
  max-width: 400px; /* Ajusta según tu preferencia */
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px; /* Ajusta según tu preferencia */
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px; /* Ajusta según tu preferencia */
}


.productos-list{
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: .2em;
}
.productos-list table{
  margin: 0 auto;
}
.fila {
  border-bottom: 1px solid #fff8f8;
}
table, th, td{
  border: 1px solid #646464;
  border-collapse: collapse;
}
th,td {
  font-size: .7em;
  text-align: center;
  padding: 8px;
}

#total{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: .5em;
}

#btn-black{
  width: 100%;
  text-align: center;
}

#btn-black button{
  border: 1px solid #3C3B3B;
  background-color: rgba(40, 40, 40, 0.48);
  padding: .5em;
  color: white;
  font-family: WorkSans-Medium, serif;
  font-size: 1em;
  cursor: pointer;
}
#btn-black button:hover{
  border: 1px solid green;
}

.btn-eliminar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
}
.btn-eliminar-element:hover{
  border: 1px solid red;
  color: red;
  cursor: pointer;
}
.btn-actualizar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
  margin: 0 1em;
  cursor: pointer;
}
.btn-actualizar-element:hover{
  border: 1px solid #EBB80D;
}

.boton-solito{
  width: 30%;
  margin: 0 auto;
}

/* Establece el color blanco por defecto */
svg {
  fill: #fff;
  transition: fill 0.3s ease; /* Agrega una transición suave para el cambio de color */
  cursor: pointer;
}

/* Cambia el color a rojo al hacer hover */
svg:hover {
  fill: #ff0000; /* Cambia a tu color rojo deseado */
}
/* Pantallas menores a 959px */
@media screen and (max-width: 959px){
  .productos-list{
    overflow-x: scroll ;
  }
}
