<aside id="menu">
  <header>
    <div id="contenedor-imagen">
      <img src="assets/logoburgueseria.png" alt="Logo" id="imagen-menu">
    </div>
    <div id="texto-encabezado">
      <div id="container-textos">
        <span id="titulo">La Burguesería</span>
        <span id="subtitulo">Panel de administración</span>
      </div>
    </div>
  </header>
  <div id="opciones-menu">
    <ul id="lista-opciones-menu">
      <li class="lista-item">
        <a class="accion-lista" [routerLink]="['dashboard']" routerLinkActive="activo">
          <img src="assets/icons/dashboard.svg" alt="">
          <span class="label-lista">Panel de gestión</span>
        </a>
      </li>
      <li class="lista-item" >
        <a class="accion-lista" [routerLink]="['insumos']" routerLinkActive="activo">
          <img src="assets/icons/groceries-svgrepo-com.svg" alt="">
          <span class="label-lista">Insumos</span>
        </a>
      </li>
      <li class="lista-item">
        <a class="accion-lista" [routerLink]="['productos']" routerLinkActive="activo">
          <img src="assets/icons/beware-of-fragile-items-5-svgrepo-com.svg" alt="">
          <span class="label-lista">Productos</span>
        </a>
      </li>
      <li class="lista-item">
        <a href="" class="accion-lista" [routerLink]="['mesas']" routerLinkActive="activo">
          <img src="assets/icons/table-svgrepo-com.svg" alt="">
          <span class="label-lista">Mesas</span>
        </a>
      </li>
      <li class="lista-item">
        <a href="" class="accion-lista" [routerLink]="['empleados']" routerLinkActive="activo">
          <img src="assets/icons/employee-svgrepo-com.svg" alt="">
          <span class="label-lista">Empleados</span>
        </a>
      </li>
      <li class="lista-item">
        <a href="" class="accion-lista" [routerLink]="['cuentas']" routerLinkActive="activo">
          <img src="assets/icons/cuenta.svg" alt="">
          <span class="label-lista">Pedidos</span>
        </a>
      </li>
      <li class="lista-item">
        <a href="" class="accion-lista" [routerLink]="['ingresos']" routerLinkActive="activo">
          <img src="assets/icons/money-receive-svgrepo-com.svg" alt="">
          <span class="label-lista">Ventas</span>
        </a>
      </li>
      <li class="lista-item">
        <a href="" class="accion-lista" [routerLink]="['egresos']" routerLinkActive="activo">
          <img src="assets/icons/money-send-svgrepo-com.svg" alt="">
          <span class="label-lista">Gastos</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
