<!-- modal.component.html -->

<h2 mat-dialog-title>Editando producto: {{ producto.nombre }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Nombre del producto</mat-label>
      <input matInput placeholder="Nombre" formControlName="nombre">
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
      <mat-error *ngIf="form.get('nombre')?.hasError('pattern')">Nombre no válido</mat-error>
    </mat-form-field>

    <div class="nuevoIpp">
      <button (click)="modalAgregarInsumo()">Vincular un nuevo ingrediente</button>
    </div>

    <ng-container *ngIf="insumosPorProducto" >
      <div class="contenedor-ingredientes">
        <h2>Ingredientes</h2>
        <div *ngFor="let ipp of insumosPorProducto; let i = index" class="ingrediente">
          <div class="icono-ipp">
            <img src="assets/icons/components.svg" alt="Insumos por producto">
          </div>
          <div class="inputs-ipp">
            <span class="ingrediente-nombre">{{ipp.insumo.nombre}}</span>
            <div class="input-ingrediente">
              <input type="number" placeholder="cantidad" [value]="ipp.cantidad" (click)="iniciarEdicion(i)" *ngIf="!isEditable">
              <input type="number" placeholder="cantidad" [value]="cantidadEditada"  (input)="onCantidadChange($event)"  autofocus *ngIf="isEditable && i === insumoPorProductoEditandoIndex">
            </div>
          </div>
          <div class="acciones-ipp">
            <div class="actualizar-ingrediente" *ngIf="isEditable && i === insumoPorProductoEditandoIndex">
              <button *ngIf="isEditable && i === insumoPorProductoEditandoIndex" (click)="guardarIpp(ipp, i)"
              matTooltip="Guardar">
                <img src="assets/icons/check.svg" alt="">
              </button>
              <button *ngIf="isEditable && i === insumoPorProductoEditandoIndex" (click)="terminarEdicion(i)"
              matTooltip="Cancelar">
                <img src="assets/icons/cancel.svg" alt="">
              </button>
            </div>
            <div class="actualizar-ingrediente"  *ngIf="!isEditable">
              <button *ngIf="!isEditable" (click)="eliminarIpp(ipp.id, i)"
              matTooltip="Quitar">
                <img src="assets/icons/cancel.svg" alt="">
              </button>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="valorInsumos > 0">
      <div class="precio-insumos">
        <span>Valor en insumos: ${{valorInsumos.toLocaleString()}}</span>
      </div>
    </ng-container>
    <mat-form-field>
      <mat-label>Precio del producto</mat-label>
      <input matInput placeholder="Precio" formControlName="precio">
      <mat-error *ngIf="form.get('precio')?.hasError('required')">Precio es obligatorio</mat-error>
      <mat-error *ngIf="form.get('precio')?.hasError('pattern')">Precio no válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción del producto</mat-label>
      <textarea matInput formControlName="descripcion" maxlength="150" rows="3"  (input)="onDescripcionInput($event)"></textarea>
      <mat-hint align="end">{{ descripcionValue ? descripcionValue.length : 0 }}/150 caracteres.</mat-hint>
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">Ingresa la descripción del producto</mat-error>
    </mat-form-field>

    <mat-form-field class="selector-con-parrafo">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria" (selectionChange)="onCategoriaSeleccionada($event)" (openedChange)="onMenuDesplegado($event)">
        <mat-option *ngFor="let categoria of categoriasProducto" [value]="categoria.id">
          {{ categoria.nombre }}
          <!-- Agrega un botón al final de cada opción -->
          <button *ngIf="menuDesplegado" (click)="quitarCategoria(categoria)"><img src="assets/icons/close.svg" alt=""></button>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="nueva-categoria-container">
      <p>No encuentras la categoría que buscas? Crea una <b (click)="modalNuevaCategoria()">acá</b> </p>
    </div>

    <div class="img-selector">
      <label class="file-upload-button" for="file-upload">Selecciona la imagen del producto</label>
      <input type="file" accept="image/*" (change)="onFileChange($event)" id="file-upload">
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
      <div class="error-message" *ngIf="fileError">{{ fileError }}</div>
    </div>

    <div *ngIf="selectedImage" class="selected-image">
      <img [src]="selectedImage" alt="Imagen seleccionada" (error)="onImageError()">
    </div>


  </form>
  <div id="fixed-scroll-icon" *ngIf="showScrollIcon">
    <img src="assets/icons/scroll-down.gif" alt="">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onGuardarClick()" [disabled]="form.invalid" class="btn-actualizar-element">Guardar</button>
  <button mat-button (click)="onNoClick()" class="btn-eliminar-element">Cancelar</button>
</mat-dialog-actions>
