



/* Contenido principal del componente (tablas, cards, etc)*/

.tabla-listado{
  width: 100%;
  color: #fff;
  margin: 0 .5em;
  border-collapse: separate;
  border-spacing: 0 10px
}
.row-header-element{
  font-size: 1.1em;
  font-family: WorkSans-bold, serif;
  text-align: left;
  color: #EBB80D;
}
.row-contenido-tabla{
  text-align: center;
}
.row-contenido-tabla:hover{
  background-color: rgba(79, 74, 74, 0.42);
  cursor: pointer;
}
.row-contenido-element{
  padding: .8em .5em;
}
.btn-eliminar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
}
.btn-eliminar-element:hover{
  border: 1px solid red;
  color: red;
  cursor: pointer;
}


.row-contenido-element span{
  font-family: WorkSans-Light, serif;
  font-size: 1em;
  margin: 0 .5em;
}
.row-contenido-element input{
  width: 5em;
  padding: .8em;
  border: 0;
}
.btn-actualizar-element{
  padding: .8em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: WorkSans, serif;
  border: 1px solid #3C3B3B;
  font-size: 1em;
  margin: 0 1em;
  cursor: pointer;
}
.btn-actualizar-element:hover{
  border: 1px solid #EBB80D;
}
.editable:hover{
  background-color: rgba(85, 135, 73, 0.42);
}
.activo{
  color: greenyellow;
}
.inactivo{
  color: red;
}

/*ESKELETON LOADING CONTENIDO CENTRAL*/
.header-module-skeleton {
  width: 40%;
  padding: 2em;
  border-radius: .7em;
  background: linear-gradient(90deg, #3C3B3B 25%, #484848 50%, #3C3B3B 75%);
  background-size: 200% 100%;
  animation: gradientAnimation 1.5s ease infinite;
}

.actions-container-skeleton {
  width: 80%;
  padding: 2em;
  margin: 1em 0 0 0;
  border-radius: .7em;
  background: linear-gradient(90deg, #3C3B3B 25%, #484848 50%, #3C3B3B 75%);
  background-size: 200% 100%;
  animation: gradientAnimation 1.5s ease infinite;
}
.component-main-content-skeleton{
  width: 100%;
  border-top: 1px solid #3C3B3B;
  margin-top: .5em;
  display: flex;
  flex-direction: column;
}
.skeleton-content{
  width: 80%;
  margin: 1.5em .5em 0 .5em;
  padding: 4em;
  border-radius: .7em;
  background: linear-gradient(90deg, #3C3B3B 25%, #484848 50%, #3C3B3B 75%);
  background-size: 200% 100%;
  animation: gradientAnimation 1.5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
