<div class="container-section">
  <ng-container *ngIf="!isSkeletonLoading; else skeletonLoading">
    <header class="header-module">
      <h1>Empleados</h1>
    </header>
    <div class="actions-container">
      <div class="search-container">
        <input type="text" placeholder="Buscar empleado..." [(ngModel)]="nombreBusqueda" (keyup)="buscarEmpleados()"> <!--  [(ngModel)]="nombreBusqueda" (keyup)="buscarMesas()"-->
      </div>
      <div class="btn-black" data-toggle="tooltip" data-placement="top" title="Nuevo empleado">
        <button (click)="modalEmpleado()"> <!-- (click) ="crearMesaModal()" -->
          <img src="assets/icons/new.svg" alt="">
          <span>Nuevo empleado</span>
        </button>
      </div>
    </div>
    <section class="component-main-content">
      <table class="tabla-listado" *ngIf="usuariosConEmpleados.length > 0 ; else buscando">
        <thead class="cabecera-tabla">
        <tr class="row-header">
          <th class="row-header-element">
            DOCUMENTO
          </th>
          <th class="row-header-element">
            NOMBRE
          </th>
          <th class="row-header-element">
            APELLIDO
          </th>
          <th class="row-header-element">
            ESTADO
          </th>
          <th class="row-header-element">
            CARGO
          </th>
          <th class="row-header-element">
            ACCIONES
          </th>
        </tr>
        </thead>
        <tbody class="contenido-tabla">
        <tr class="row-contenido-tabla" *ngFor="let usuarioConEmpleado of usuariosConEmpleados;">
          <td class="row-contenido-element">
            {{usuarioConEmpleado.empleado.documento}}
          </td>
          <td class="row-contenido-element" >
            {{usuarioConEmpleado.empleado.nombre}}
          </td>

          <td class="row-contenido-element">
            {{usuarioConEmpleado.empleado.apellido}}
          </td>
          <td class="row-contenido-element">

            <mat-slide-toggle checked="{{usuarioConEmpleado.empleado.estado}}" (change)="toggleEmpleadoEstado(usuarioConEmpleado.empleado)"
                              matTooltip="Activar o desactivar empleado.">
              {{ usuarioConEmpleado.empleado.estado ? 'Activo' : 'Inactivo' }}
            </mat-slide-toggle>

          </td>
          <td class="row-contenido-element">
            {{usuarioConEmpleado.usuario.rol}}
          </td>
          <td class="row-contenido-element">
            <button class="btn-eliminar-element"
            matTooltip="Gestiona los datos de los empleados."
            (click)="modalGestionarEmpleado(usuarioConEmpleado)">
              Gestionar
            </button>

          </td>
        </tr>
        </tbody>
      </table>

    </section>
  </ng-container>

</div>



<ng-template #skeletonLoading>
  <div class="header-module-skeleton">

  </div>
  <div class="actions-container-skeleton">

  </div>
  <div class="component-main-content-skeleton">
    <div class="skeleton-content"></div>
    <div class="skeleton-content"></div>
  </div>
</ng-template>



<ng-template #buscando >
  <div class="cargando">
    <h2>No se han encontrado empleados.</h2>
    <img src="assets/img/running-cat.gif" alt="">

  </div>
</ng-template>
