.container{
  width: 100%;
  background: black;
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/assets/img/hamburguesa-fondo.png');
  background-size: 437px 449px;
  background-repeat: no-repeat;
  background-position: 95% 35%;
}
main{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contenido-seccion{
  width: 75%;
}
#cabecera-seccion{
  width: 100%;
}
#titulo-seccion{
  color: #fff;
}
.ayuda{
  background-color: rgba(0, 209, 255, 0.62);
  padding: 1em;
  border-radius: 20px;
  margin: 1em;
}
.ayuda p{
  font-family: WorkSans-Light, serif;
  font-size: 1em;
}
app-menu{
  width: 20%;
}
#contenedor-funciones{
  display: flex;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.85);
  border: 2px solid #3C3B3B;
  padding: 1em;
  border-radius: 1em;
  justify-content: space-between;
}
#buscar{
  width: 40%;
  display: flex;
  align-items: center;
}
#nuevo-insumo{
  width: 40%;
}
#nuevo-insumo button{
  padding: 1em;
  background-color: #9ded12;
  border: 0;
  border-radius: 5px;
  font-family: WorkSans-Medium, serif;
  color: #000;
  cursor: pointer;
}
#nuevo-insumo button:hover{
  background-color: #7fc010;
}
#buscar input{
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 1rem;
}
#buscar button {
  padding: 8px 10px;
  background-color: #9ded12;
  margin-left: .4em;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
#buscar button:hover{
  background-color: #7fc010;
}

#contenedor-lista{
  display: flex;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.85);
  border: 2px solid #3C3B3B;
  padding: 1em;
  border-radius: 1em;
  min-height: 60vh;
  margin-top: 2em;
  margin-bottom: 2em;
}

/*  ESTILIS TABLA*/
.table{
  width: 100%;

}
.table table{
  width: 100%;
  color: white;
  border-collapse: collapse;

}

.table table th, .table table td{
  padding: 1.5em;
}
#cabecera-tabla{
  background-color: #246355;
  font-size: 1.2em;
  font-family: WorkSans-Medium, serif;
  border-bottom: solid 5px #0F362D;
}
#cuerpo-tabla{
  font-size: 1.2em;
  font-family: WorkSans, serif;
  font-weight: normal;
}
.table tr:nth-child(even){
  background-color: rgba(35, 35, 35, 0.56);
}
#cuerpo-tabla tr:hover{
  background-color: #1d354a;
}
.eliminar-btn{
  background-color: red;
  padding: 1em;
  border: 0;
  font-size: 1em;
  font-family: WorkSans, serif;
  font-weight: normal;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.eliminar-btn:hover{
  background-color: #b30505;
}
