<div class="container">
  <main>
  <app-menu></app-menu>
    <div class="contenido-seccion">
      <header id="cabecera-seccion">
        <h1 id="titulo-seccion">Insumos</h1>
      </header>
      <div class="ayuda">
        <p>En esta sección podrás ver los insumos restantes en el sistema, añadir más insumos, editarlos, eliminarlos
        o incluso buscar alguno en especifico.</p>
      </div>
      <div id="contenedor-funciones">
        <div id="buscar">
          <input type="text" placeholder="Buscar...">
          <button>
            <img src="assets/icons/lupa.png" alt="buscar">
          </button>
        </div>
        <div id="nuevo-insumo">
          <button routerLink="nuevo">Agregar insumo</button>
        </div>
      </div>

    <div id="contenedor-lista">
      <div *ngIf="!insumos; else elseInsumos">
        <h2>Buscando...</h2>
      </div>
    </div>
    </div>

  </main>
  <app-footer></app-footer>
</div>

<ng-template #elseInsumos>
  <div class="table">
    <table>
      <thead id="cabecera-tabla">
        <tr>
          <th>Nombre insumo</th>
          <th>Cantidad en inventario</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody id="cuerpo-tabla">
      <tr *ngFor="let i of insumos?.object; let j = index">
        <th>{{i.nombre}}</th>
        <th>{{i.cantidad}}</th>
        <th>boton1</th>
        <th>
          <button (click)="deleteInsumo(i.id)" class="eliminar-btn">
            Eliminar
          </button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

