<div class="container-section">
  <ng-container *ngIf="!isLoading; else cargando">
    <header class ="header-module">
      <h1>
        Insumos
      </h1>
    </header>
    <!-- Barra de acciones -->
    <div class="actions-container">
      <div class="search-container">
        <input type="text" placeholder="Buscar insumo..." [(ngModel)]="nombreBusqueda" (keyup)="buscarInsumos()">
      </div>
      <div class="btn-black" data-toggle="tooltip" data-placement="top" title="Nuevo insumo">
        <button (click)="openDialog()">
          <img src="assets/icons/new.svg" alt="">
          <span>Nuevo insumo</span>
        </button>
      </div>
    </div>
    <!-- Sección tabla de contenido -->
    <section class="component-main-content">
      <table class="tabla-listado" *ngIf="insumos.length > 0; else buscando" >
        <thead class="cabecera-tabla">
        <tr class="row-header">
          <th class="row-header-element">
            INSUMO
          </th>
          <th class="row-header-element">
            EN STOCK
          </th>
          <th class="row-header-element">
            ACCIONES
          </th>
        </tr>
        </thead>
        <tbody class="contenido-tabla">
        <tr class="row-contenido-tabla" *ngFor="let insumo of insumos; let i = index" >
          <td class="row-contenido-element" *ngIf="!modoEdicion || (modoEdicion && i !== insumoEditandoIndex)" (click)="iniciarEdicion(i)">
            {{insumo.nombre}}
          </td>
          <td class="row-contenido-element" *ngIf="modoEdicion && i === insumoEditandoIndex">
            <mat-form-field hintLabel="Carácteres max." appearance="outline">
              <mat-label>{{insumo.nombre}}</mat-label>
              <input matInput placeholder="insumo" [formControl]="nombreEditado" #inputNombre maxlength="30" minlength="6">
              <mat-hint align="end">{{inputNombre.value.length}}/30</mat-hint>
              <mat-error *ngIf="nombreEditado.hasError('required')">El nombre del insumo es obligatorio</mat-error>
              <mat-error *ngIf="nombreEditado.hasError('pattern')">Solo se admiten letras.</mat-error>
            </mat-form-field>

          </td>
          <td class="row-contenido-element, editable" *ngIf="!modoEdicion || (modoEdicion && i !== insumoEditandoIndex)" (click)="iniciarEdicion(i)">
            {{insumo.cantidad}}
          </td>
          <td class="row-contenido-element" *ngIf="modoEdicion && i === insumoEditandoIndex">
            <mat-form-field appearance="outline">
              <mat-label>Existencias: {{insumo.cantidad}}</mat-label>
              <input matInput placeholder="Cantidad del insumo" [formControl]="cantidadEditada">
              <mat-error *ngIf="cantidadEditada.hasError('required')">La cantidad del insumo es obligatoria</mat-error>
              <mat-error *ngIf="cantidadEditada.hasError('pattern')">Solo se admiten números positivos.</mat-error>
            </mat-form-field>
          </td>
          <td class="row-contenido-element">
            <button class="btn-actualizar-element"
                    *ngIf="modoEdicion && i === insumoEditandoIndex && (cantidadEditada.valid && nombreEditado.valid)"
                    (click)="alertaConfirmarEditar(i)">
              Guardar
            </button>
            <button class="btn-eliminar-element" *ngIf="modoEdicion && i === insumoEditandoIndex" (click)="cancelarEdicion()">
              Cancelar
            </button>
            <button class="btn-eliminar-element" (click)="alertaConfirmarEliminar(insumo.id, insumo.cantidad)" *ngIf="!modoEdicion || (modoEdicion && i !== insumoEditandoIndex)">
              Borrar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="paginacion" *ngIf="insumos.length > 0">
        <img src="assets/icons/arrow-prev-small-svgrepo-com.svg" alt="anterior" *ngIf="!isFirst" (click)="previousPage()">
        <h3>Pagina {{pagina+1}}</h3>
        <img src="assets/icons/arrow-next-small-svgrepo-com.svg" alt="siguiente" *ngIf="!isLast" (click)="nextPage()">
      </div>
    </section>
  </ng-container>
  <!-- Cabecera modulo -->

</div>

<ng-template #buscando >
  <div class="cargando">
    <h2>No se han encontrado elementos para insumos.</h2>
    <img src="assets/img/running-cat.gif" alt="">

  </div>
</ng-template>

<ng-template #cargando>
  <app-skeleton-full></app-skeleton-full>
</ng-template>
