/* You can add global styles to this file, and also import other style files */
/* Reiniciar o normalizar el CSS para eliminar estilos predeterminados del navegador */
html, body, h1, h2, h3, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
  border: 0;
}
html, body {
  height: 100%;
}
html {
  box-sizing: border-box;
}
*{
  font-family: WorkSans, serif;
}
body{
  font-family: WorkSans, sans-serif;
  background-color: black;
}
/* Establecer márgenes y relleno en elementos principales */

/* Aplicar una caja de modelo border-box para evitar problemas con el ancho y alto de elementos */
*, *::before, *::after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}


/* Establecer estilos para títulos */
h1, h2, h3 {
  font-weight: bold;
}

/* Establecer estilos para listas */
ul, ol {
  list-style: none;
}

@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('fonts/WorkSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-Medium';
  src: url('fonts/WorkSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-Light';
  src: url('fonts/WorkSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.accion-lista{
  text-decoration: none;
}
.accion-lista:visited {
  color: #fff;
}

app-nuevo-insumo, app-insumos, app-categoria-producto, app-productos, app-mesas{
  width:60%;
  padding-right: 3em;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
app-empleados, app-cuentas, app-ingresos, app-egresos, app-cuentas-empleado{
  width: 60%;
  padding-right: 3em;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
app-panel-de-gestion{
  width: 60%;
  padding-right: 3em;
  max-height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}



@media screen and (max-width: 959px){
  app-nuevo-insumo, app-panel-de-gestion, app-insumos, app-categoria-producto, app-egresos, app-productos, app-mesas, app-empleados, app-cuentas, app-ingresos {
    width: 95%;
  }
}



/* SCROLLBAR */
/* SCROLLBAR */
/* SCROLLBARS */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la scrollbar vertical */
  height: 6px; /* Altura de la scrollbar horizontal */
  background: #191919;

}

::-webkit-scrollbar-track {
  background: #191919;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 5px;
  transition: box-shadow 0.2s; /* Duración de la animación */
  z-index: 1; /* Asegura que el thumb esté encima del track */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bebebe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Aumenta la sombra al hacer hover */
}

