<div class="container-section">
  <header class="header-module">
    <h1>Egresos</h1>
  </header>
  <div class="actions-container">
    <bootstrap-range-calendar (fechasEnviadas) = "recibirDatosCalendario($event)" ></bootstrap-range-calendar>
    <!-- FALTA EL BOTÓN PARA CREAR UN NUEVO EGRESO -->
    <div class="btn-black responsive" data-toggle="tooltip" data-placement="top" title="Nuevo egreso">
      <button (click)="nuevoEgreso()"> <!-- (click) ="crearMesaModal()" -->
        <img src="assets/icons/new.svg" alt="">
        <span>Nuevo egreso</span>
      </button>
    </div>
  </div>

  <section class="component-main-component">
    <ng-container *ngIf="!isLoading; else cargando">
      <table class="tabla-listado" *ngIf="egresos.length > 0 ; else buscando">
        <thead class="cabecera-tabla">
        <tr class="row-header">
          <th class="row-header-element">FECHA DEL EGRESO</th>
          <th class="row-header-element">TOTAL DEL EGRESO</th>
          <th class="row-header-element">CATEGORÍA</th>
          <th class="row-header-element">ORIGEN</th>
          <th class="row-header-element">ACCIONES</th>
        </tr>
        </thead>
        <tbody class="contenido-tabla">
        <tr class="row-contenido-tabla" *ngFor="let egreso of egresos; let i = index">
          <td class="row-contenido-element">
            {{fechaService.convertirUTCAFechaHoraLocal(egreso.fecha?.toString())}}
          </td>
          <td class="row-contenido-element">
            ${{egreso.total.toLocaleString()}}
          </td>
          <td class="row-contenido-element">
            {{egreso.categoria}}
          </td>
          <td class="row-contenido-element">
            {{egreso.deduccionDesde}}
          </td>
          <td class="row-contenido-element">
            <button class="ver-cuenta" (click)="verEgreso(egreso)">
              Ver detalles
            </button>
            <button class="btn-eliminar-element" (click)="deleteEgreso(egreso.id)">
              Borrar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>

  </section>

</div>
<ng-template #cargando>
  <app-skeleton-partial></app-skeleton-partial>
</ng-template>

<ng-template #buscando >
  <div class="cargando">
    <h2>No se ha encontrado ningún egreso.</h2>
    <img src="assets/img/running-cat.gif" alt="">
  </div>
</ng-template>
